/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-image: url('mountain-landscape-2031539_960_720.jpg') ;
    background-size: cover;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    text-align: center;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-image: url('sea-164989_1280.jpg'); 
    background-size: cover;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 30px;
}

label {
    font-weight: bold;

}

input[type="text"],
input[type="password"] {
    text-align: center;
    margin-bottom: 16px;
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
    border-radius: 20px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 10px;
   text-align: center;
}

input[type="submit"]:hover {
    background-color: #45a049;
    margin-top: 16px;
}

.media {
    margin-top: 40px;
    color: aqua;
}

.media h1 {
    color: azure;
    text-align: center;
    margin-top: 20px;
}
nav ul {
    list-style-type: none;
    margin-bottom: 20px;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
  